name: Run tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.10']
        # currently there is conflict between tf, oneflow and paddle in protobuf versions.
        # cupy is not tested because it demands gpu
        # oneflow testing is dropped, see details at https://github.com/Oneflow-Inc/oneflow/issues/10340
        frameworks: ['numpy pytorch tensorflow jax', 'numpy paddle chainer']

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
      - name: Run tests
        run: |
          python test.py ${{ matrix.frameworks }}
